<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Prueba32.My.MySettings.circulo2___copiaConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;|DataDirectory|\circulo2 - copia.mdb&quot;;Jet OLEDB:Database Password=cp7"
            providerName="System.Data.OleDb" />
        <add name="Prueba32.My.MySettings.ConnectionString" connectionString="Dsn=jimmy;dbq=D:\OneDrive\Proy\2017 CP Listado\circulo2 - copia.mdb;driverid=25;fil=MS Access;maxbuffersize=2048;pagetimeout=5;pwd=cp7;uid=admin"
            providerName="System.Data.Odbc" />
        <add name="Prueba32.My.MySettings.ConnectionString1" connectionString="Dsn=Jimmy2;uid=adm;pwd=cp7"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
